body{
    background-image:url(images/day.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.grid-one{
    display: grid;
    grid-template-columns: 300px 300px;
    margin-top: 200px;
    margin-left:100px ;
    
}
.text-head{
    color: white;
    font-size: larger;
     width: max-content;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    transition: 0.3s;
}
.text-head:hover{
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.212);
    color: black;
}
.profile-picture{
    width: 200px;
    border-radius: 150px;
    object-fit: cover;
    object-position: center;
    border: 3px solid black;
    transition: 0.3s;
}
.profile-picture:hover{
    transform: scale(1.05);
}
.profile-picture-text{
    width: max-content;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: relative;
    left: 60px;

}
#nav-items{
    position:fixed;
    top:70px;
    right:20px;
    width:fit-content;
    height: max-content;
    background:#0303036e;
    border-radius:12px;
    padding:15px;
    font-size: 20px;
    display:none;
    transition: 0.3s;
}
#nav-items a{
   text-decoration: none;
   color: white;
   font-family:'Courier New', Courier, monospace ;
   padding: 0px;
}
#nav-items a:hover{
      color: red;
}
#start-button{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color:rgba(255, 255, 255, 0.699);
    border-radius:10px;
    border: none;
    transition: 0.3s;
}
#start-button:hover{
     transform: scale(1.05) translateY(-5px);
}
#settings-btn{
    background-color: yellow;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 40px;
    border-radius: 10px;
    transition: 0.3s;
}
#settings-btn:hover{
    transform: scale(1.03);
}

#settings-window{
    position:fixed;
    right: 250px;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    display: none;
}
.window-header{
    background-color: rgb(36, 156, 36);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.window-main{
    padding: 20px;
}

#nightbtn-image{
    width: 150px;
    border-radius: 10px;
     border: solid 3px rgb(20, 207, 20);
}
#daybtn-image{
    width: 150px;
    border-radius: 10px;
    border: solid 3px rgb(20, 207, 20);
}
#close-btn{
    position:absolute;
    right:5px;
    top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(136, 6, 6);
    color: white;
    transition: 0.3s;
}
#close-btn:hover{
   background-color: red;
   transform: scale(1.03);
}
#theme-info{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}
#tech-stack{
    position:fixed;
    top:500px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    display: none;
}
.main-heading{
    text-align: center;
    font-family:'Courier New', Courier, monospace ;
    color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
     text-shadow: 
    0 0 10px #00ff4c,
    0 0 20px #00ff9d,
    0 0 30px #00ff95  ;
    transition: 0.3s;
}
.main-heading:hover{
    text-transform: lowercase;
    text-shadow: 0 0 0,0 0 0, 0 0 0;
}

#about-page{
    position:fixed;
    width: 1300px;
    height: 850px;
    border-radius: 20px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color:white;
    box-shadow: 10px 10px 30px black;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    display: none;
}

#about-hc{
    background-color: rgb(233, 87, 87);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
#about-hc:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}
#about-close{
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: rgb(235, 103, 103);
    border-radius: 24px;
    transition: 0.3s;
}
#about-close:hover{
    transform: scale(1.04);
}

.about-texts{
    background-color: black;
    color: white;
    margin-top: 20px;
    width: max-content;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.about-texts:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale(1.03);
}
.about-hc-text{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.about-hc-text:hover{
    transform: scale(1.02)translateY(10px);
}
#about-do{
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.336);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    line-height: 30px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
#about-do:hover{
    transform: scale(1.03);
    background-color: white;
    color: dark;
    box-shadow: 10px 10px 30px black;
}